body {
    margin : 0;
    display: flex;
    height: 100vh;
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.library {
    border: 5px solid brown;
    background-color: antiquewhite;
    height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border: 2px dotted blueviolet;
    background-color: aquamarine;
    height: 100px;
    text-align: center;
    padding: 20px;
}

.error {
    border: 2px solid red;
    color : red;
}